.sponsor {
&__img {
    width: 150px;
    cursor: pointer;
    transition: transform 0.4s;
    &:hover {
        transform: scale(1.1);
    }
}
&__container {
    grid-template-columns: repeat(2, max-content);
    justify-content: center;
    align-items: center;
}
}